.logoutContainer {
  position: relative;
  border: 1px solid violet;
}

.topAvatar {
  width: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.logoutMenu {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
}

.hidden {
  display: none;
}
